.dosen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}

.dosen-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 430px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.dosen-image-wrapper {
  width: 100%;
  height: 260px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.dosen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dosen-name {
  font-size: 21px;
  font-weight: 700;
  color: #1f4529;
  margin: 0;
  line-height: 1.3;
}

.dosen-title {
  font-size: 21px;
  font-weight: 700;
  color: #1f4529;
  margin: 4px 0;
}

.dosen-uni {
  font-size: 16px;
  font-weight: 400;
  color: #4f7355;
  margin-top: 5px;
}

@media (max-width: 800px), (-webkit-min-device-pixel-ratio: 3) {
  .dosen-card {
    width: 280px;
    height: 400px;
  }

  .dosen-image-wrapper {
    height: 230px;
    margin-bottom: 10px;
  }

  .dosen-name,
  .dosen-title {
    font-size: 18px;
  }

  .dosen-uni {
    font-size: 14px;
  }
}
