.ss-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
}

.ss-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeInUp 0.7s ease-out;
}

.ss-content p {
  font-family: inter, sans-serif;
  font-size: 21px;
  color: #47663b;
  background: #ffffff;
  border-radius: 10px;
  text-align: justify;
  line-height: 1.4;
  width: 650px;
  min-height: 363px;
  padding: 40px;
  margin: 5px 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ss-content img {
  width: 443px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1180px) {
  .ss-container {
    padding: 20px 40px;
  }

  .ss-content {
    gap: 30px;
  }

  .ss-content p {
    font-size: 16.5px;
    width: 350px;
    min-height: 450px;
    padding: 30px;
  }

  .ss-content img {
    width: 360px;
    height: 237px;
  }
}

@media (max-width: 800px) {
  .ss-container {
    padding: 20px 20px;
    justify-content: center; /* tetap tengah */
  }

  .ss-content {
    flex-direction: column; /* layout vertikal */
    gap: 20px;
    text-align: center;
    max-width: 100%; /* biar full hp */
  }

  .ss-content p {
    width: 100%;
    padding: 20px;
    min-height: auto;
    font-size: 14px;
    order: 2;
  }

  .ss-content img {
    width: 90%;
    height: auto;
    order: 1;
  }
}
