.au-container {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.au-card {
  background: #ffffff;
  width: 1100px;
  height: auto;
  padding: 40px 20px 5px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.au-card p {
  color: #47663b;
  font-family: inter, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  word-break: break-word;
}

.au-card p ul {
  padding-left: 1.25rem;
  margin: 0.5rem 0;
  text-align: justify;
  word-break: break-word;
}

/* Tablet */
@media (max-width: 1000px), (-webkit-min-device-pixel-ratio: 2) {
  .au-card {
    width: 750px;
    height: auto;
    padding: 40px 20px 5px;
  }

  .au-card p {
    font-size: 17px;
  }
}

/* Mobile */
@media (max-width: 768px), (-webkit-min-device-pixel-ratio: 3) {
  .au-card {
    width: 90%;
    height: auto;
    min-height: 350px;
    padding: 40px 20px 5px;
    margin: 20px 0 10px 0;
    box-sizing: border-box;
  }

  .au-card p {
    font-size: 15px;
    line-height: 1.4;
  }

  .au-card p ul {
    padding-left: 1rem;
    margin: 0.3rem 0;
    font-size: 14px;
  }
}
