.chart-container {
  text-align: center;
  padding: 30px 10px;
}

.chart-box {
  background: #ffffff;
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .chart-box {
    height: 270px;
    padding: 15px;
  }
}
