.chart-container {
  text-align: center;
  padding: 40px 20px;
}

.chart-box {
  background: #ffffff;
  padding: 35px;
  width: 92%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

@media (max-width: 800px) and (-webkit-min-device-pixel-ratio: 3) {
  .chart-box {
    height: 280px;
  }
}
