.chart-container {
  text-align: center;
  padding: 40px 20px;
}

.chart-box {
  background: #ffffff;
  padding: 35px;
  width: 92%;
  margin: 0 auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
