.team {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-kkn {
  width: 770px;
  height: 562px;
}

@media (max-width: 800px), (-webkit-min-device-pixel-ratio: 3) {
  .img-kkn {
    width: 100%;
    height: auto;
  }
}
